<% provide(:title, t(:new_user)) %>
<h1><%= t(:new_user) %></h1>

<div class="row">
	<div class="span6 offset3">
		<%= semantic_form_for(@user) do |f| %>
		<%= render 'fields', f: f %>		
		<% end %>
	</div>
</div>
