:javascript
  var graphRows = #{raw data.to_json};
  var graph_y_title = #{raw title.to_json};

- graph_id = "chart_div_#{title}"
:javascript
  google.load('visualization', '1', {'packages':['annotatedtimeline']});
  google.setOnLoadCallback(function() {drawChart("#{graph_id}")});

%div{:id => graph_id, :class=>"graph_div" }

