%li{:id => valf.id}
  %span.content
    =link_to valf.to_s, sprinkler_valf_path(valf.sprinkler_id, valf.id)
    
  -if current_user.admin?
    %span.content
      =link_to "(#{t(:delete)})",
        sprinkler_valf_path(valf.sprinkler_id, valf.id),
        method: :delete,
        data: { confirm: t(:you_sure?) },
        title: valf.identifier
