<% if sprinkler_plans.any? %>
	<h4><%= t :next_plans %></h4>
<%=
	calendar_data = sprinkler_plans.collect do |cal|
		{
			name: cal[:title],
			date:cal[:date],
			url: url_for(:controller => "schedules", :action => "edit", :sprinkler_id => sprinkler_id, id: cal[:id] )
		}
	end
	show_calendar(calendar_data)
%>
	<% end %>
<%= link_to t(:new_plan), :controller => "schedules", :action => "new", :sprinkler_id => sprinkler_id %>
<br />