<% provide(:title, t(:edit_valf)) %>
<h1><%= t(:edit_valf)%></h1>
<div class="row">
	<div class="span6 offset3">
		<%= semantic_form_for(@valf, url: url_for(action: 'update')) do |f| %>
			<%= render 'fields', f: f %>
		<% end %>
	</div>
</div>
