- provide(:title, @valf.identifier)
%h1= @valf.identifier
=show_menu t(:edit),
  link_to( t(:edit), edit_sprinkler_valf_path(@sprinkler,@valf) ),
  link_to( t(:delete), sprinkler_valf_path(@sprinkler,@valf), method: :delete, data: { confirm: t(:you_sure?) }, title: @valf.identifier )

%p= @valf.port_index
%p= @valf.irrigation_mode.text unless @valf.irrigation_mode.blank?

