<% provide(:title, t(:sensor_readings) )%>
<h1><%= t(:sensor_readings) %></h1>
<%=
	show_graph(@data, t(:sensor_readings))
%>

<div id="time_selector">
	<% [1,2,3,7,30,365].each do |time| %> 
	<%=
		link_to time, {action: "show", id: @sensor_id, time_ago: time}, remote: true   
	%>
	<% end %>
</div>
